.Mit_license {
    text-align: center;
    justify-content: center;
    margin-top: 55px;
    font-family: monospace;
    font-size: 25px;
    cursor: pointer;
}

.arg1_license {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.arg1_license p {
    text-align: justify;
    margin-top: 10px 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    display: flex;
}

.arg_license:hover {
    cursor: pointer;
    text-decoration: underline;
    color: darkred;

}
