        * {
            margin: 0;
            padding: 0;
        }
        .container {
            /* border: 2px solid red; */
            background-color: #20061e;
            color: white;
            width: 101%;
            height: 150px;
            margin: -10px -10px;
            display: flex;
            position: fixed;
        }

        .logo {
            /* border: 2px solid red; */
            margin: 11px;
        }

        .logo img {
            width: 90px;
            margin-left: 75px;
            margin-top: 5px;
            width: 230px;
        }

        .navbar {
            /* border: 2px solid red; */
            width: 520px;
            display: inline-block;
            margin: auto;
            /* flex-direction: row; */
        }

        .navbar_style {
            display: flex;
        }

        .item {
            padding: 6px 11px;
            list-style: none;
            font-size: 19px;
            cursor: pointer;
            font-weight: bold;
        }

        .item:hover {
            color: #ffffff;
            /* opacity: var(-10px); */
        }

        .booking {
            margin: 45px;
            margin-right: 80px;
            width: 148px;
            height: 59px;
        }

        #order-btn {
            font-size: 20px;
            margin: 17px 11px;
            padding-left: 19px;
            cursor: pointer;
        }

        /* Nav-Bar-2 */

        .nav-wraper {
            width: 100%;
            display: none;
        }

        .nav-bar{
            background-color: #20061e;
            padding: 0.5rem 0;
        }

        .nav-container {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .bx-menu {
            color: red;
            font-size: 2.8rem;
            cursor: pointer;
        }

        .drop-bar{
            /* background-color: rgb(40, 40, 40); */
            padding: 2rem;
            opacity: 0;
            transition: all 0.2s;
        }
        .drop-bar.active{
            opacity: 1;
        }

        .drop-bar li{
            font-size: 1.1rem;
            list-style: none;
            font-weight: 800;
        }
        .list-item{
            margin-bottom: 0.5rem;
            transition: all 0.4s;
            cursor: pointer;
        }
        .list-item:hover{
            color: #ffffff;
        }

        @media screen and (max-width: 1069px) {
            .container{
                display: none;
            }
            .nav-wraper{
                display: block;
            }
        }

        .drop-bar{
            background-color:  #20061e;
            color: white;
        }
